button-icon=/opt/hackbox/media/hackboxLogo.png
launcher-show-name=true
launcher-show-description=true
favorites=firefox.desktop,mintInstall.desktop,xfce-settings-manager.desktop,pidgin.desktop,terminator.desktop,Thunar.desktop
recent=exo-file-manager.desktop,exo-terminal-emulator.desktop,transmission-gtk.desktop,firefox.desktop,mintInstall.desktop
menu-width=472
menu-height=625
button-title=Menu
show-button-title=true
show-button-icon=true
hover-switch-category=true
category-icon-size=1
item-icon-size=2
load-hierarchy=false
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
command-settings=xfce4-settings-manager
command-lockscreen=xflock4
command-logout=xfce4-session-logout

