[Desktop Entry]
Name=Distro Upgrade
Comment=Do full release upgrade of distro
GenericName=Distro Upgrade
Exec=terminator -f -T "Full Release Upgrade" -x bash -c "pkexec do-release-upgrade;echo 'Press enter to end program...';read;"
Icon=system-upgrade
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;System;X-XFCE-SystemSettings;X-XFCE-SettingsDialog;
