[Desktop Entry]
Name=Xkill
Comment=Kill a Program
Exec=xkill
Terminal=false
Type=Application
StartupNotify=false
Icon=/usr/share/icons/Vibrantly-Simple/actions/48/window-close.png
