[Desktop Entry]
Name=Xkill
Comment=Kill a Program
Exec=bash -c "notify-send 'Left click on a window to kill the program.\nRight click to cancel.';xkill"
Terminal=false
Type=Application
StartupNotify=false
Icon=xfce-wm-close
