[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=bash -c "while true;do killall redshift;killall gtk-redshift;gtk-redshift -l $(more /etc/latlon);sleep 1;done"
Name=Redshift
Comment=Redshift
GenericName=Redshift
