[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Icon=system-run-symbolic
Name=Synapse
GenericName=Quick Launcher
Comment=Start the quick launcher service
Exec=bash -c "killall synapse;killall kupfer;synapse -s &"
NoDisplay=true
Terminal=false
