[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Icon=system-run-symbolic
Name=touchegg
GenericName=Touchscreen Gesture Support
Comment=Start service for touchscreen support
Exec=touchegg
NoDisplay=true
Terminal=false
