[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=bash -c "if [ -f /usr/bin/volumeicon ]; then while ! pgrep -xc volumeicon;do volumeicon;done; fi;"
Name=VolumeIcon
Comment=Volumeicon for alsa
GenericName=VolumeIcon
