[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=bash -c "if [ -f /usr/bin/volumeicon ]; then while true; do if ! pgrep -xc volumeicon;then volumeicon; else for process in $(pgrep -f 'bash -c.*volumeicon');do kill -9 $process;break; done; killall volumeicon; fi; sleep 10; done; fi;"
Name=VolumeIcon
Comment=Volumeicon for alsa
GenericName=VolumeIcon
