[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Icon=system-run-symbolic
Name=Power Manager
GenericName=Power Manager
Comment=Start the system power manager
Exec=xfce4-power-manager
NoDisplay=true
Terminal=false
