[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Icon=system-run-symbolic
Name=Screensaver
GenericName=Screensaver
Comment=Start the screensaver service
Exec=xscreensaver -no-splash
NoDisplay=true
Terminal=false
