[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=terminator -x bash -c "echo 'Starting share, Press Control+C to stop the share...';echo %f;echo 'Connect to '$(hostname)'.local:9119 to download.';cd;cd ~/Downloads/;woof -p 9119 -U;echo 'Share is now complete, press enter to close the window...';read;"#NOTES: %f is in single quotes, you cant store bash variables this way
Name=HackBox Setup
Comment=Runs HackBox Setup GUI
Categories=Internet;
GenericName=File Upload Server
Icon=hackboxLogo
