[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=hackboxsetup-gui
Name=HackBox Setup
Comment=Runs HackBox Setup GUI
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
GenericName=System Configuration Utility
Icon=hackboxLogo
