! This file holds settings for xterm 
! These basicly just make it look a bit nicer
! Comments begin with a "!" character.
! Config addapted from info at below address
! https://wiki.archlinux.org/index.php/X_resources#Xterm_resources
XTerm*background:       black
XTerm*foreground:       white
XTerm*cursorColor:      white
xterm*saveLines:        1024
XTerm.vt100.geometry:   80x25
XTerm*scrollBar:        true
XTerm*scrollTtyOutput:  false
xterm*faceName:         Hermit:style=bold:size=12
xterm*rightScrollBar:   true
xterm*dynamicColors:    true