[Unit]
Description=Run all scripts in /etc/rc.local.d/

[Service]
ExecStart=/bin/bash -c "/bin/mkdir -p /etc/rc.local.d/;for script in /etc/rc.local.d/*;do /bin/bash $script;done;exit 0"
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
